.excool {
  position: relative;
  top: 47px;
  background-color: #f5f5f5;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 10px;
}
.excool > h1 {
  font-size: 30px;
}
.excool > h2 {
  font-size: 20px;
  margin-top: 20px;
}
.discription {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.discription > div > img {
  width: 100%;
  object-fit: cover;
  padding-left: 20px;
}
.discription > p {
  font-size: 14px;
  text-align: left;
  align-items: center;
  padding-right: 30px;
  line-height: 1.5;
}
.video-content {
  position: relative;
  top: 48px;
  background-color: black;
  width: 100%;
  height:400px;
  overflow: hidden;
}
.video-content div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.tech {
  position: relative;
  top: 48px;
  background-color: #f5f5f5;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 10px;
  flex-direction: column;
}
.tech > h2 {
  font-size: 20px;
  text-align: center;
}
.tech-image {
  width: 80%;
}
.tech-image > img {
  width: 100%;
  object-fit: cover;
  padding-left: 20px;
}
