.excool-container {
  position: relative !important;
  top: 47px;
}
.difference {
  margin-top: 25px;
  text-align: center;
  padding-bottom: 15px;
}
.difference > h1,
.features > h1 {
  font-size: 30px;
  padding-bottom: 10px;
}
.difference > p {
  font-size: 20px;
  padding-bottom: 30px;
}
.dif-container {
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}
.dif-item {
  width: 24%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 5px;
}
.dif-item > div {
  width: 145px;
  margin: 0 auto;
  height: 145px;
}
.dif-item img {
  width: 100%;
  object-fit: cover;
}
.dif-item p {
  padding-top: 20px;
}
.features {
  margin-top: 20px;
  text-align: center;
  color: white;
  background: grey;
  position: relative;
  width: 100%;
  height: 415px;
}
.feature-background,
.feature-infor {
  position: absolute;
  width: 100%;
  height: 100%;
}
.feature-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.features h1 {
  margin-top: 25px;
  font-size: 30px;
  padding-bottom: 10px;
}
.feature-container {
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
}
.feature-item {
  width: 24% !important;
  padding: 15px 5px;
}
.feature-img {
  margin: 0 auto;
  width: 60px;
  height: 60px;
}
.feature-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name-feature {
  font-size: 13px;
  color: white;
}
.english {
  font-weight: bolder;
  margin-top: 6px;
}
.check {
  font-style: italic;
  font-size: 12px;
  margin-top: 20px;
}
